<%= provide(:title, "About") %>
<% content_for :description do %>This is the about page for Clipped.io<% end %>

<header>
	<h1>About</h1>
</header>

<h2>What is Clipped?</h2>
<p>
	Clipped is an image sharing community with one clear goal in mind: make it easy to find images with cut out backgrounds.
	Our goal is to be the first (and hopefully last) place you go to find cut out images for your architecture visualizations, collages, and whatever other uses you may have for cut out imagery.  Together we are building the largest database of cutout
	images in the world.  Help us today by uploading some of your cutout photos.
</p>

<h2>Where Can I Use the Images?</h2>
<p>
	All of our images come with a Creative Commons Public Domain CCO licence, meaning they are free of copyrights and can be used
	in nearly any application without any permissions or attribution.  The content within the images may still be protected by trademarks, publicity, or privacy rights, however, so make sure you understand exactly what is legal.  You can read more about it <%= link_to "here", terms_path %>.

	Thanks for visiting!
</p>