<%= provide(:title, "About") %>
<% content_for :description do %>This is the about page for Clipped.io<% end %>

<h1>About Clipped</h1>
<h5>why we do what we do</h5>
<p>
	Clipped is the ultimate database and storage application for iamges with cut out backgrouds.
	Our goal is to be the first (and hopefully last) place you go to find cut out images.  As a
	former architect, I understand the difficulty in finding good entourage for vizualizations quickly, 
	and this is my solution.  Please feel free to leave comments and feedback, or contact me about anything
	you'd like to see changed or added.

	Thanks for visiting!
</p>