<%= provide(:title, "Contact") %>

<h1>Contact Clipped</h1>

<p>Please feel free to send questions, comments, feature requests, etc. to <%= link_to "john@creativebasis.com", "mailto: john@creativebasis.com" %>.</p>