<div id="home-search">
  <h1>What are you looking for?</h1>
  <form role="search">
    <input type="search" placeholder="e.g. man looking up..." />
<!--     <button type="submit">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png" alt="Search Icon">
    </button> -->
  </form>
</div>

<h1>Most Popular Images</h1>

<div class="most-popular-uploads">
  <% if @most_popular.any? %>
    <%= render @most_popular %>
  <% end %>
</div>