<h1>Most Liked Images</h1>

<div class="most-liked-uploads">
  <% if @most_liked.any? %>
    <%= render @most_liked %>
  <% end %>
</div>


<h1>Most Viewed Images</h1>

<div class="most-viewed-uploads">
  <% if @most_viewed.any? %>
    <%= render @most_viewed %>
  <% end %>
</div>

<h1>Recent Clipped Images</h1>

<div class="recent-uploads">
  <% if @most_recent.any? %>
      <%= render @most_recent %>
  <% end %>
</div>
