<div id="home-search">
  <h1>What are you looking for?</h1>

  <%= form_tag search_index_path, :method => :get do %>
    <%= search_field_tag :search, params[:search], placeholder: "e.g. man looking up..." %>
    <%= submit_tag "Search", :name => nil %>
	<% end %>
</div>

<h1>Most Popular Images</h1>

<div class="most-popular-uploads">
  <% if @most_popular.any? %>
    <%= render @most_popular %>
  <% end %>
</div>