<h1>Privacy Policy</h1>

<p>
We respect and are committed to protecting your privacy. We do not sell or otherwise provide personal information to other companies for the marketing of their own products or services. We will retain your information for as long as your account is active or as needed to provide You services or as necessary to comply with our legal obligations, resolve disputes, and enforce our agreements.
</p>
<p>
We reserve the right to disclose your personal information as required by law (e.g., to comply with a subpoena, warrant, or court order) and when we believe that disclosure is necessary to protect our rights, avoid litigation, protect your safety or the safety of others, investigate fraud, and/or respond to a government request. We may also disclose information about You if we determine that such disclosure should be made for reasons of national security, law enforcement, or other issues of public importance.
</p>