<h1>Terms of Service</h1>

<p>
The following is a legal agreement between you (You) and the owners and operators of clipped.com (Website), Clipped (We). These Terms of Service (Terms) govern your access to and use of the website, its services (Services) and images (Images). By using the Website You agree to be bound by these Terms. This agreement may be revised or updated without notice.
</p>

<h2>Who can use Clipped</h2>

<p>
You may use the Website only if You can form a binding contract with Clipped, and only in compliance with these Terms and all applicable laws. Any use or access by anyone under the age of 13 is prohibited.
</p>


<h2>Downloading and use of Images</h2>

<p>CC0 Via download provided Images on Clipped are bound to Creative Commons Deed CC0. To the extent possible under law, uploaders of Clipped have waived all copyright and related or neighboring rights to these Images. You are free to adapt and use the Images for commercial purposes without attributing the original author or source. Although absolutely not required, a link back to Clipped would be nice.</p>

<h2>Limitations</h2>

<p>
Images depicting identifiable persons may not be used for pornographic, unlawful or other immoral purposes, or in a way that can give a bad name to people, or to imply endorsement of products and services by those persons, brands, organisations, etc.
Since Clipped does not require a written Model Release for each Image that has identifiable people on it, We cannot guarantee that You will be able to use the Image for any purpose You like. Also, if there is a model release for the Image, We do not represent or make warranties whatsoever as to the legality or validity of it.
Furthermore, certain Images may be subject to additional copyrights, property rights, trademarks etc. and may require the consent of a third party or the license of these rights. Clipped does not represent or make any warranties that it owns or licenses any of the mentioned, nor does it grant them. It's your and the Image uploader's responsibility to make sure that all the necessary rights, consents and licenses for the use of the Images are provided.
You are not allowed to mass download Images with an application, or reuse a big part of the Images for redistribution on a similar Website. Texts including image descriptions and tags are copyrighted.
Clipped cannot be held responsible for any copyright violations, and cannot guarantee the legality of the Images stored in its system. If You want to make sure, always contact the photographers. You use the site and the photos at your own risk!
</p>

<h2>Uploading Images</h2>

<p>
You may upload photographs or graphics to the Website, and Clipped will screen these uploads to see if they are suitable for distribution. Clipped does not accept any adult oriented images.
</p>
<p>
By uploading, You release Images under Creative Commons Deed CC0 into the public domain. This applies worldwide. In case this is not legally possible, You grant anyone the right to use this work for any purpose, without any conditions, unless such conditions are required by law.
</p>
<p>
You are solely responsible for the Images You upload. You warrant that You own all proprietary rights regarding the Image, and You are obliged to obtain a non-exclusive, perpetual, irrevocable, worldwide, and royalty-free Model and/or Property Release and/or any other permission necessary concerning the use of this work for any purpose, without any conditions, unless such conditions are required by law.
</p>
<p>
Furthermore, You acknowledge that Clipped does not allow the upload of Images that infringe on any copyright, property right, trademark or any other applicable right.
</p>
<p>
You accept that even though We do our best to prevent it from happening, Clipped cannot be held responsible for the misuse or abuse of any Image.
</p>
<p>
We also reserve the right to remove any approved Image at any time if We believe it's defective, of poor quality or infringe on any right.
</p>

<h2>Indemnification for Breach of Terms</h2>

<p>
You agree to indemnify and hold harmless Clipped from and against any and all loss, expenses, damages, and costs, including without limitation reasonable attorneys fees, resulting, whether directly or indirectly, from your violation of the Terms. You also agree to indemnify and hold harmless Clipped from and against any and all claims brought by third parties arising out of your use of the Website.
</p>

<h2>Warranty and Liability</h2>

<p>
THE WEBSITE AND THE IMAGES ARE PROVIDED "AS IS". WE OFFER NO WARRANTY, EXPLICIT OR IMPLIED, REGARDING ANY IMAGES, THE WEBSITE, THE ACCURACY OF ANY INFORMATION, OR ANY RIGHTS OR LICENSES UNDER THIS AGREEMENT INCLUDING, WITHOUT LIMITATION, ANY IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE. Clipped DOES NOT REPRESENT OR WARRANT THAT THE WEBSITE OR THE IMAGES WILL MEET YOUR REQUIREMENTS OR THAT THEIR USE WILL BE UNINTERRUPTED OR ERROR FREE.
</p>

<p>
Clipped SHALL NOT BE LIABLE TO YOU OR TO ANY OTHER PERSON OR ENTITY FOR ANY GENERAL, PUNITIVE, SPECIAL, INDIRECT, CONSEQUENTIAL OR INCIDENTAL DAMAGES, OR LOST PROFITS OR ANY OTHER DAMAGES, COSTS OR LOSSES ARISING OUT OF YOUR USE OF THE WEBSITE OR THE IMAGES.</p>