<div class="upload-comments comments card">
  <h2 class="title">Comments</h2>
  <% if policy(Comment.new).create? %>
    <%= render partial: "comments/comment_form" %>
  <% end %>
  <div class="comments-feed">
    <%= render @comments %>
  </div>
</div>
