<%= form_for(@upload, url: upload_moderation_path(params[:id]), remote: true) do |f| %>
  <div><%= hidden_field_tag :approved, true %></div>
  <%= f.submit "Approve", class: "approve-btn" %>
<% end %>