<% upload ||= @upload %>
<div class="moderation-form upload-interaction">
<% if upload.approved? %>
  <%= render 'upload_moderation/disapprove', upload: upload %>
<% else %>
  <%= render 'upload_moderation/approve', upload: upload %>
<% end %>
</div>
