<div class="user-stats stats">
  <ul>
    <li><%= @user.approved_uploads_count %><span>Uploads</span></li>
    <li><%= @user.downloads_count %><span>Downloaded</span></li>
    <li><%= @user.favorites_count %><span>Favorited</span></li>
  </ul>
</div>
