<h1>New Uploads Accepted</h1>
<p>
  Congratulations!  Your recent upload to Clipped has been approved.
  See it <%= link_to 'here', upload_url(@upload) %>
  <%= image_tag @upload.image(:thumb) %>
</p>
