// Bitters 1.0.0
// http://bitters.bourbon.io
// Copyright 2013-2015 thoughtbot, inc.
// MIT License

@import "variables";

// Neat Settings -- uncomment if using Neat -- must be imported before Neat
// @import "grid-settings";

@import "buttons";
@import "forms";
@import "lists";
@import "tables";
@import "typography";
@import "cards";

html, body {
	font-size: 100%;
}

body {
	margin: 0;
	display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
	flex: 1;
}

.container {
	@include outer-container;
	margin-top: 125px;

	@include media($tablet) {
		margin-top: 65px;
	}

	@include media($desktop) {
		@include outer-container(em(1088));
	}

	header {
	  padding: 2em 0;
	}
}

aside {
	@include span-columns(4);
}

.hidden {
	display: none;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
}
