#{$all-button-inputs},
button, .btn {
  @include appearance(none);
  -webkit-font-smoothing: antialiased;
  background-color: $action-color;
  border-radius: $base-border-radius;
  border: $base-border;
  border-color: darken($action-color, 5%);
  box-shadow: 0 1px 2px 0 lighten($action-color, 30%);
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: $proxima;
  font-size: $base-font-size;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 1.5;
  padding: 1em 1.5em;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
  margin: 1em 0;
  outline: none;

  @include media($desktop) {
    width: auto;
    height: auto;
  }

  a {
    color: $white;
  }

  &:hover,
  &:focus {
    background-color: lighten($action-color, 15%);
    color: #fff;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.2;
  }

  &:disabled:hover {
    background-color: $action-color;
  }
}

button.google {
  background-color: $google-red;
  border: 1px solid darken($google-red, 10%);
  box-shadow: 0 1px 2px 0 lighten($google-red, 30%);

  &:hover,
  &:focus {
    background-color: lighten($google-red, 15%);
  }
}

button.facebook {
  background-color: $facebook-blue;
  border: 1px solid darken($facebook-blue, 10%);
  box-shadow: 0 1px 2px 0 lighten($facebook-blue, 30%);

  &:hover,
  &:focus {
    background-color: lighten($facebook-blue, 15%);
  }
}

button.secondary, .btn.secondary {
  background-color: $medium-gray;
  border: $base-border;
  border-color: darken($medium-gray, 5%);
  box-shadow: 0 1px 2px 0 lighten($medium-gray, 20%);

  &:hover,
  &:focus {
    background-color: lighten($medium-gray, 15%);
    color: #fff;
  }
}

button.search-icon {
  background: transparent;
  color: $dark-gray;
  border: none;
  box-shadow: none;
  padding: 0;

  .fa {
    color: $dark-gray;
  }
}

button.icon {
  background: $white;
  border: 1px solid $light-gray;
  box-shadow: 0 1px 2px 0 $lightest-gray;
  color: $dark-gray;
  transition: $base-transition;
  margin: 0.25em 0;
  padding: 0;
  width: 50px;
  height: 50px;

  .fa {
    position: relative;
    right: -2px;
    transition: $base-transition;
    text-align: center;
    width: 100%;
  }

  &.approval {
    &:hover {
      background-color: lighten($clipped-green, 10%);
      color: $white;
      .fa {
        color: $white;
      }
    }

    &.on {
      background-color: $clipped-green;
      border: 1px solid darken($clipped-green, 10%);
      color: darken($clipped-green, 30%);

      .fa.on {
        color: darken($clipped-green, 30%);
      }
    }
  }

  &.favorite {

    &:hover {
      background-color: lighten($clipped-yellow, 5%);
    }

    &.on {
      background-color: $clipped-yellow;
      border: 1px solid darken($clipped-yellow, 45%);
      color: desaturate(darken($clipped-yellow, 50%), 10%);

      .fa.on {
        color: desaturate(darken($clipped-yellow, 50%), 10%);
      }
    }
  }

  &.delete {

    .fa {
      color: darken($clipped-red, 10%);
    }

    &:hover {
      background-color: lighten($clipped-red, 5%);
      color: $white;

      .fa {
        color: $white;
      }
    }

  }
}
