.comments {
  table {
    margin: 0;
  }

  .avatar {
    border-width: 2px;
  }

  .comments-feed {
    padding-top: 2em;
  }

  &.card {
    
  }

  .details {
    padding-bottom: 1em;
    font-size: $base-font-size * 0.9;
    color: $medium-gray;

    .username {
      font-size: $base-font-size * 1.2;
      font-weight: 700;
    }

    .fa {
      color: $medium-gray;
    }

    .reply-name {
      margin-right: 1em;
    }
  }

  .replies {
    margin-left: 50px;
  }

  .interactions {
    font-size: $base-font-size * 0.9;
    padding-top: 1em;
    color: $medium-gray;

    a {
      color: $medium-gray;

      &:hover {
        color: $dark-gray;
      }
    }

  }

  td {
    padding: 1em 0;
    vertical-align: top;
    border-bottom: none;

    &:first-child {
      width: 65px;
      padding-right: 15px;
    }
  }

  #new_comment {
    input[type="submit"], button {
      float: right;
      padding: 0.5em 0.75em;
    }

    button {
      margin-right: 1em;
    }
  }
}
