.modal {
  label {
  }

  .modal-state {
    display: none;
  }

  .modal-fade-screen {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.85);
    opacity: 0;
    visibility: hidden;
    transition: all .2s;
    transition-timing-function: cubic-bezier(.17,.67,.85,1.13);
    z-index: 99999;

    @include media($desktop) {
      padding-top: 10em;
    }
  }

  .modal-bg {
    position: absolute;
    cursor: pointer;
  }

  .modal-close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 2rem;
    height: 2rem;
    background-color: $white;
    cursor: pointer;

    &:before,
    &:after {
      content: "";
      display: block;
      margin: -3px 0 0 -1px;
      position: absolute;
      top: 3px;
      right: 3px;
      bottom: 0;
      left: 50%;
      height: .15em;
      width: 2rem;
      transform: rotate(45deg);
      background-color: $light-gray;
    }

    &:hover:before,
    &:hover:after {
      background-color: darken($light-gray, 10%);
    }

    &:before {
      transform: rotate(-45deg);
    }
  }

  .modal-inner {
    position: relative;
    display: none;
    top: 0.5em;
    animation-duration: 0.25s;
    background-color: $white;
    border-radius: $base-border-radius;
    margin-top: 0;
    margin: auto;
    max-height: 95%;
    width: 95%;
    overflow: auto;
    padding: $modal-padding / 4;

    .modal-saving {
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(255,255,255,0.9);
      background-image: url("ajax-loader.gif");
      background-repeat: no-repeat;
      background-position: center;
      z-index: 999999;

      p {
        position: absolute;
        top: 55%;
        width: 100%;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 1px;
      }
    }

    @include media($tablet) {
      max-height: 70%;
      padding: $modal-padding / 2;
      width: 60%;
    }

    @include media($desktop) {
      width: 50%;
      padding: $modal-padding;
    }

    h2 {
      position: relative;
      top: -1em;
    }

    p {

    }

    .modal-left {
      width: 100%;
      float: left;

      @include media($tablet) {
        width: 30%;
        margin-right: 5%;
      }

    }

    .modal-right {
      width: 100%;
      float: left;

      @include media($tablet) {
        width: 65%;
      }
    }
  }

  .modal-state:checked + .modal-fade-screen {
    opacity: 1;
    visibility: visible;
  }

  .modal-open {
    overflow: hidden;
  }
}
