// Typography
$nimbus: "nimbus-sans", sans-serif;
$proxima: "proxima-nova", sans-serif;
$adelle: "adelle", serif;
$europa: "europa", sans-serif;
$brandon: "brandon-grotesque", sans-serif;
$futura: "futura-pt", sans-serif;
$facit: "jaf-facitweb", sans-serif;
$vinyl: "vinyl", sans-serif;
$museo-round: "museo-sans-rounded", sans-serif;
$bebas: "bebas-neue",sans-serif;
$azo: "azo-sans-web",sans-serif;
$base-font-family: $proxima;
$heading-font-family: $azo;

// Font Sizes
$base-font-size: 0.8em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 0;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$white: #fff;
$blue: #477dca;
$dark-gray: #404040;
$medium-gray: #aaa;
$light-gray: #e9e9e9;
$lightest-gray: #f3f3f3;
$clipped-pink: #ed145b;
$light-pink: lighten($clipped-pink, 20%);
$clipped-orange: #fbb040;
$clipped-green: #b8d988;
$clipped-red:	#fb5555;
$google-red: #dd4b39;
$facebook-blue: #4e69a2;

// Font Colors
$base-background-color: #fff;
$base-font-color: $dark-gray;
$base-accent-color: $medium-gray;
$action-color: $clipped-pink;

$base-border-color: darken($lightest-gray, 5%);
$base-border: 1px solid $base-border-color;
$base-box-shadow: 0 1px 2px 0 darken($lightest-gray, 2%);

//Card Styles
$card-background-color: $lightest-gray;
$card-border: $base-border;
$card-shadow: $base-box-shadow;
$action-border: 1px solid $action-color;


// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);
$select-box-shadow: 0 1px 1px 0 #ddd;

$navigation-height: 40px;
