<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Someone Replied to Your Comment</h1>
    <p>
      <%= @commenter.username %> commented on your comment:
      <i><%= @comment.body %></i>
    </p>
    <p>
      See it <%= link_to 'here', upload_url(@upload) %>
      <%= image_tag @upload.image(:large) %>
    </p>
  </body>
</html>
