<h1>Someone Commented on Your Image</h1>
<p>
  <%= @commenter.username %> commented on your upload:
  <i><%= @comment.body %></i>
</p>
<p>
  See it <%= link_to 'here', upload_url(@upload) %>
  <%= image_tag @upload.image(:thumb) %>
</p>
