<h1>Someone Replied to Your Comment</h1>
<p>
  <b><%= @commenter.username %></b> commented on your comment:
</p>
<p>
  <i><%= @comment.body %></i>
</p>
<p>
  See it <%= link_to 'here', upload_url(@upload) %>
  <%= image_tag @upload.image(:thumb) %>
</p>
