<%= form_for @upload, html: { class: "hidden tags-form", id: "update-tags-form" }, remote: true do |f| %>
	<div class="update">
		<%= f.text_field :tag_list, html: { autocomplete: "off" } %>
	</div>
<% end %>