// Place all the styles related to the charges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#donate-container {
	padding-top: 4em;
	@include media($tablet) {
		@include outer-container(50%);
  }
}

#chargeForm {
	margin: 0 auto;
	margin-top: 4em;
	padding: 2em;
	border: $base-border;
	width: 90%;

	.title {
		margin: 0;
		text-align: center;
	}
}

#donate-input {
	border: $base-border;
	margin-bottom: 2em;
}

#dollar-sign {
	display: inline-block;
	font-weight: 700;
	width: 30%;
	background-color: $lightest-gray;
	text-align: right;
	padding: 1em;
	border-right: $base-border;
	text-transform: uppercase;
	letter-spacing: 1px;
}

#amount {
	display: inline-block;
	font-size: 1.5em;
	font-weight: 700;
	box-shadow: none;
	background-color: $white;
	border: none;
	color: $action-color;
	width: 70%;
	margin: 0;
	padding: 0;
	padding-left: 0.5em;
}

#donateButton {
	display: block;
	width: 100%;
	margin: 0;
}

.charges.create {
	h2 {
		font-size: 2em;
		margin-top: 5em;
		text-align: center;
	}
}