header.navigation {
  position: fixed;
  top: 0;
  font-family: $proxima;
  text-transform: uppercase;

///////////////////////////////////////////////////////////////////////////////////
  
  a {
    text-decoration: none;
  }
  
//////////////////////////////////////////////////////////////////////////////////

  $navigation-padding: 1em;
  $navigation-background: $lightest-gray;
  $navigation-color: $dark-gray;
  $navigation-color-hover: transparentize($dark-gray, 0.3);
  $navigation-nav-button-background: $action-color;
  $navigation-nav-button-background-hover: lighten($navigation-background, 10%);
  $navigation-nav-button-border: 1px solid lighten($navigation-nav-button-background, 20%);
  $navigation-search-background: lighten($navigation-background, 5);
  $navigation-search-border: none;
  $navigation-active-link-color: transparentize($dark-gray, 0.5);
  $navigation-submenu-padding: 1em;
  $navigation-submenu-width: 12em;

  background-color: $navigation-background;
  border-bottom: 1px solid darken($navigation-background, 5);
  width: 100%;
  z-index: 999;

  .navigation-wrapper {
    @include clearfix;
    @include outer-container;
    position: relative;
    z-index: 9999;

    @include media($desktop) {
      @include outer-container(em(1080));
    }
  }

  .logo {
    float: left;
    min-height: $navigation-height;
    padding-left: $navigation-padding;
    padding-right: 2em;
    line-height: 0;

    img {
      max-height: 47px;
      max-width: 200px;
      padding: 0.7em 0;
    }
  }

  
// Mobile view

  .navigation-menu-button {
    color: $navigation-color;
    display: block;
    float: right;
    font-weight: 700;
    line-height: $navigation-height;
    margin: 0;
    padding-right: 1em;
    text-transform: uppercase;

    @include media($desktop) {
      display: none;
    }

    &:focus,
    &:hover {
      color: $navigation-color-hover;
    }
  }

  
// Nav menu

  nav {
    float: none;
    min-height: $navigation-height;
    z-index: 9999999;

    @include media($desktop) {
      float: left;
    }

    button {
      padding: 1.5em;

      @include media($desktop) {
        padding: 0.5em 1.25em;
        margin: 0.5em 0;
      }
    }
  }

  ul.navigation-menu {
    -webkit-transform-style: preserve-3d; 
// stop webkit flicker
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 9999;

    &.show {
      display: block;
    }

    @include media($desktop) {
      display: inline;
      margin: 0;
      padding: 0;
    }
  }

  
// The nav items

  ul li.nav-link {
    background: $navigation-background;
    display: block;
    overflow: hidden;
    text-align: center;
    width: 100%;
    z-index: 9999;
    border-bottom: 1px solid $light-gray;

    @include media($desktop) {
      background: transparent;
      display: inline;
      line-height: $navigation-height;
      text-decoration: none;
      width: auto;
      border: none;
    }

    a {
      color: $navigation-color;
      display: inline-block;
      font-size: $base-font-size * 0.9;
      font-weight: 700;
      padding: 1.5em;
      width: 100%;
      height: 100%;

      @include media($desktop) {
        width: auto;
        height: auto;
        padding: 0;
        padding-right: 1em;
      }

      &:focus,
      &:hover {
        color: $navigation-color-hover;
      }
    }
  }

  .active-nav-item a {
    border-bottom: 1px solid $navigation-active-link-color;
    padding-bottom: 3px;
  }

  
// Sub menus

  li.more.nav-link {
    padding-right: 0;

    @include media($desktop) {
      padding-right: $navigation-submenu-padding;
    }

    > ul > li:first-child a  {
      padding-top: 1em;
    }

    a {
      margin-right: $navigation-submenu-padding;
    }

    > a {
      @include media($desktop) {
        padding-right: 0.6em;
      }
    }

    > a:after {
      content: '\25BE';
      color: $navigation-color;

      @include media($desktop) {
        @include position(absolute, auto -0.4em auto auto);
      }
    }
  }

  li.more {
    overflow: visible;
    padding-right: 0;

    a {
      @include media($desktop) {
        padding-right: 0.8em;
      }
    }

    > a {

      position: relative;

      @include media($desktop) {
        margin-right: $navigation-submenu-padding;
        padding-right: 1.6em;
      }

      &:after {
        content: '›';
        font-size: 1.2em;
        position: absolute;
        right: $navigation-submenu-padding / 2;
      }
    }

    &:focus > .submenu,
    &:hover > .submenu {
      display: block;
    }

    @include media($desktop) {
      padding-right: 0.8em;
      position: relative;
    }
  }

  ul.submenu {
    display: none;
    padding-left: 0;

    @include media($desktop) {
      left: -$navigation-submenu-padding;
      position: absolute;
      top: 1.5em;
    }

    .submenu {
      @include media($desktop) {
        left: $navigation-submenu-width - 0.2em;
        top: 0;
      }
    }

    li {
      display: block;
      padding-right: 0;

      @include media($desktop) {
        vertical-align: bottom;

        &:first-child > a {
          border-top-left-radius: $base-border-radius;
          border-top-right-radius: $base-border-radius;
        }

        &:last-child > a {
          border-bottom-left-radius: $base-border-radius;
          border-bottom-right-radius: $base-border-radius;
          padding-bottom: 0.7em;
        }
      }

      a {
        background-color: darken($navigation-background, 3%);
        display: inline-block;
        width: 100%;

        @include media($desktop) {
                padding-top: 0.2em;
          background-color: $navigation-background;
          padding-left: $navigation-submenu-padding;
          text-align: left;
          width: $navigation-submenu-width;
        }
      }
    }
  }

  
// Elements on the far right

  .navigation-tools {
    clear: both;
    display: block;
    height: $navigation-height;

    @include media($desktop) {
      padding-left: $navigation-padding / 2;
      padding-right: $navigation-padding;
      clear: none;
      float: right;
    }

  }

  
// Search bar

  .search-bar {
    $search-bar-border-color: $base-border-color;
    $search-bar-border: 1px solid $search-bar-border-color;
    $search-bar-background: lighten($search-bar-border-color, 10%);

    float: left;
    padding: 0.54em;
    width: 100%;

    form {
      position: relative;

      input[type=search] {
        box-sizing: border-box;
        background: $navigation-search-background;
        border-radius: $base-border-radius;
        border: $navigation-search-border;
        color: $navigation-color;
        font-size: 0.9em;
        font-style: italic;
        margin: 0;
        padding: 0.5em 0.8em;
        width: 100%;
        height: 30px;
        float: right;

        &:focus {
          width: 100%;
        }

       @include media($desktop) {
          width: 90%;
          transition: all 0.1s ease-in-out;

        }
      }

      button[type=submit] {
        bottom: 0.3em;
        left: auto;
        outline: none;
        padding: 0 9px;
        position: absolute;
        right: 0.3em;
        top: 0.3em;
        height: 23px;
        width: 30px;
        margin: 0;

        .fa {
          color: $white;
        }

        img {
          height: 12px;
          opacity: 0.7;
          padding: 1px;
        }
      }
    }

    @include media($desktop) {
      display: inline-block;
      position: relative;
      width: 16em;

      input {
        box-sizing: border-box;
        display: block;
      }
    }
  }
}
