.pagination { 
  ///////////////////////////////////////////////////////////////////////////////////
  margin: 4em 0;
  clear: both;

  a {
    text-decoration: none;
  }
  //////////////////////////////////////////////////////////////////////////////////

  span {
    display:none;
  }

    a, .current, span {
      @include transition (all 0.2s ease-in-out);
      background: $white;
      border-radius: $base-border-radius;
      outline: none;
      padding: ($base-spacing / 4) ($gutter / 2);
      color: $base-font-color;
      margin-bottom: $gutter/2;
      display: inline-block;

      &:hover,
      &:focus {
        background: $light-gray;
      }

      &:active {
        background: $light-gray;
      }
    }

    .current {
      background: $light-gray;
    }
  }
