// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.index {
	.uploads-index-header {
		h1 {
			font-size: $base-font-size * 1.5;
			font-weight: 100;
			padding: 3em 0;
		}

		.query {
		  color: $action-color;
		  font-weight: 800;
		}
	}
}

//filter
.search-tools {
  margin-top: 1em;

	@include media($desktop) {
		@include span-columns(6 of 12);
		text-align: left;
    margin-top: -24px;
	}

  ol {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
  }

  label {
    display: block;
    margin-bottom: $base-spacing / 4;
    font-weight: 600;
  }

  @include clearfix;

  .filter {
    margin-bottom: 1em;

    @include media($tablet) {
      @include span-columns(4);
      margin-bottom: 0;
    }

    @include media($desktop) {
    	@include span-columns(3 of 6);
    }

    > div {
      background-color: white;
      margin-bottom: $base-spacing / 2;
      position: relative;
      width: 100%;

      @include media($desktop) {
      	padding-left: 0;
      }

      &:focus,
      &:hover {
      }

      label {
        cursor: pointer;
        margin-bottom: 0;
      }
    }

    ol {

      label {
      }
    }

    button {
    	background: transparent;
    	box-shadow: none;
    	border: none;
    	padding: 0;
    	margin: 0;
    	color: $medium-gray;
    	width: auto;
    	letter-spacing: 0;
    	text-transform: none;
    	position: absolute;
    	top: 0.5em;
    	right: 0.5em;
    	font-weight: 300;
    }

    .dropdown {
      border: $base-border;
    	border-top: 1px solid $action-color;

      @include media($tablet) {
      	position: absolute;
      	z-index: 1;
      }

      @include media($desktop) {
      	@include span-columns(12 of 48);
      }
    }

    .hide-options {
      margin-bottom: 0;

      ol, button {
        display: none;
      }
    }

    .tag {
    	display: inline-block;
    	float: none;
    	font-size: 1em;
    	background: transparent;
    	border: none;
    	margin-bottom: 0;
    	margin-right: 0;
    	padding-top: 0;
    	padding-bottom: 0;

      &:before {
        content: "#";
      }
    }
  }

  .summary {
  	padding: 0.75em 3em;
  	font-weight: 300;
  	line-height: 1;
  	text-transform: uppercase;

  	@include media($tablet) {
  		padding-left: 1em;
  	}
  }

}


.container {
  form {
    position: relative;

    input[type=search] {
      padding: 0.5em;
      font-weight: 700;
      color: $clipped-pink;
      position: relative;
      display: block;
      position: relative;
      transition: all 0.2s ease-in-out;
      margin: 0 auto;
      box-shadow: none;
      width: 100%;
      height: auto;

      &:focus {
        + button {
          .fa {
            color: $action-color;
          }
        }
      }

      @include media($tablet) {
        width: 50%;
      }

      @include media($desktop) {
        @include span-columns(12 of 24);
        padding: 8px;
      }
    }

    input[type=submit] {
      margin-bottom: 3em;
    }

    button {
      &.icon {
        position: absolute;
        top: -1.05em;
        font-size: 1.25em;
        width: auto;
        right: 5px;
        margin-right:0;

        @include media($desktop) {
          left: 510px;
        }

        .fa {
          transition: all 0.2s ease-in-out;
          color: $lightest-gray;
        }
      }
    }

    .mobile-submit {
      @include media($tablet) {
        display:none;
      }
    }
  }
}

