// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.index {
	.uploads-index-header {
		h1 {
			font-size: $base-font-size * 1.5;
			font-weight: 100;
			padding: 3em 0;
		}

		.query {
		  color: $action-color;
		  font-weight: 800;
		}
	}
}
