// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

header.home {
	text-align: center;
	padding: 5em 0 1em 0;

	h1 {
		text-align: center;
	}

	p {
		line-height: 1;
		padding: 1em 0 1em 0;

		@include media($tablet) {
			text-align: center;
			padding: 0 0 1.5em;
		}
	}
}

#home-search {
	display: inline-block;
	margin: 0 auto 2em;
	float: none;
	@include span-columns(4);
	text-align: center;

	@include media($desktop) {
		@include span-columns(6);
		text-align: left;
		margin: 0 auto 7em;
	}

	form{
		position: relative;

		input[type=search] {
			position: relative;
			display: block;
			width: 80%;
			position: relative;
		  height: 52px;
      transition: all 0.1s ease-in-out;
      margin: 0 auto;

    	@include media($tablet) {
    		margin: 0;
				width: ($column + (2 * $gutter - $gutter)) * 5;
			}

		  &:focus {
	      width: 100%;

	    	@include media($tablet) {
					width: ($column + (2 * $gutter - $gutter)) * 6 - $gutter;
				}
      }
		}

		button[type=submit] {
			position: absolute;
			right: 0.3em;
			top: 0.3em;
			height: 40px;
			width: auto;

			img {
				height: 100%;
				width: auto;
			}
		}
	}
}

#home-tags {
	@include span-columns(4);
	text-align: center;
	margin-bottom: 2em;

	@include media($desktop) {
		@include span-columns(6);
		@include omega;
		text-align: left;
	}
}

#home-uploads {
	@include span-columns(4);
	text-align: center;

	@include media($tablet) {
		text-align: left;
	}
}