// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#home-search {
	text-align: center;
	@include span-columns(6);
	margin: 0 auto 100px;
	float: none;

	form{
		position: relative;

		input[type=search] {
			position: relative;
			display: block;
			width: 80%;
			position: relative;
		  height: 52px;
		  margin: 0 auto;
      @include transition(all 0.1s ease-in-out);

		  &:focus {
	      width: 100%;
      }
		}

		button[type=submit] {
			position: absolute;
			right: 0.3em;
			top: 0.3em;
			height: 40px;
			width: auto;

			img {
				height: 100%;
				width: auto;
			}
		}
	}
}

