// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

header.home {
	text-align: center;
	padding: 5em 0 1em 0;

	h1 {
		text-align: center;
	}

	p {
		line-height: 1;
		padding: 1em 0 1em 0;

		@include media($tablet) {
			text-align: center;
			padding: 0 0 1.5em;
		}
	}
}

#home-search {
	padding: 4em 0;
	float: none;
	text-align: center;
	@include span-columns(4);

	@include media($tablet) {
		@include span-columns(8);
	}

	@include media($desktop) {
		@include span-columns(12);
	}

	form{
		position: relative;

		input[type=search] {
			padding: 0.5em;
      font-weight: 700;
      color: $clipped-pink;
			position: relative;
			display: block;
			position: relative;
      transition: all 0.1s ease-in-out;
      margin: 0 auto;
      box-shadow: none;
      width: 100%;
      height: auto;

      &:focus {
      	@include media($tablet) {
      		width: 60%;
      	}
      }

      @include media($tablet) {
      	width: 50%;
      }
		}

		button[type=submit] {
			position: absolute;
			right: 0.3em;
			top: 0.3em;
			height: 40px;
			width: 100%;

			img {
				height: 100%;
				width: auto;
			}
		}
	}
}

section#home-banner {
	// background: url("entryRender-web.jpg") center center;
	// background-size: cover;
}

#home-uploads {
	@include span-columns(4);
	text-align: center;

	@include media($tablet) {
		text-align: left;
	}
}