.tags-list {
  min-height: 50px;
  overflow: hidden;
}

.tag {
  border: 1px solid lighten($action-color, 30%);
  border-radius: 1px;
  display: block;
  float: left;
  padding: 2px 5px;
  text-decoration: none;
  background: lighten($action-color, 48%);
  color: $action-color;
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: 12px;

  &.selected {
    background: lighten($action-color, 43%);
  }
}

.tags-list.update {
  border: 1px solid $light-gray;
  background-color: lighten($lightest-gray, 2%);
  margin-bottom: 10px;
}

.tags-form {
  width: 100%;

  input#upload_tag_list {
    background-color: transparent;
    box-shadow: none;
    border: none;
  }
}

.tags-container {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

.upload {
  .tags-container {
    padding-top: 1em;
  }

  .edit-tags {
    margin-bottom: 0;
  }
}

.edit-tags {
  display: inline-block;
  cursor: pointer;
  color: $action-color;
  font-size: $base-font-size * 0.9;
}

.delete-tag {
  font-size: 80%;
  display: inline-block;
  transform: translateY(-1px);
  margin-left: 5px;

  &:hover {
    cursor: pointer;
  }
}

.tag-items {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  @include media($tablet) {
    justify-content: flex-start;
  }
}
