.tags-list {
	padding: 5px;
	min-height: 50px;
	overflow: hidden;
}

.tag {
	border: 1px solid lighten($action-color, 30%);
	border-radius: 1px;
	display: block;
	float: left;
	padding: 2px 5px;
	text-decoration: none;
	background: lighten($action-color, 40%);
	color: lighten($action-color, 20%);
	margin-right: 5px;
	margin-bottom: 5px;
	font-size: 12px;
}

.tags-list {
	padding: 10px;
}

.tags-list.update {
	border: 1px solid $light-gray;
	background-color: lighten($lightest-gray, 2%);
	margin-bottom: 10px;
}

.tags-form {
	width: 100%;

	input#upload_tag_list {
		background-color: transparent;
		box-shadow: none;
		border: none;
	}
}

.delete-tag {
	font-size: 80%;
	display: inline-block;
	transform: translateY(-1px);
	margin-left: 5px;

	&:hover {
		cursor: pointer;
	}
}

.most-popular-home {
	@include span-columns(4);

	@include media($tablet) {
		@include span-columns(6);
		@include shift(1)
	}

	@include media($desktop) {
		@include span-columns(6);
		@include shift(3)
	}
}