// Place all the styles related to the Uploads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.upload-single {
  @include span-columns(4);
  height: 700px;
  position: relative;
  margin-bottom: $gutter;

  img {
    with: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    padding: 25px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  @include media($tablet) {
    @include span-columns(5);
  }

  @include media($desktop) {
    @include span-columns(8);
  }
}

.upload-info {
  @include span-columns(4);

  .card {
    margin-bottom: $gutter;
  }

  @include media($tablet) {
    @include span-columns(3);
  }

  @include media($desktop) {
    @include span-columns(4);
  }
}

.upload-stats {
  text-align: center;
}

.upload {
  flex: 1 1 200px;
  margin: 10px;
  position: relative;
  height: auto;

  img {
    display: block;
    margin: 0 auto;
  }
}

.upload-interaction {
  display: inline-block;
  text-align: center;
}

.js-link {
  font-size: 0.8em;
}