// Place all the styles related to the Uploads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.upload-single-left-content {
  position: relative;
  @include span-columns(4);

  @include media($tablet) {
    @include span-columns(5);
  }

  @include media($desktop) {
    @include span-columns(8);
  }
}

.upload-single-image {
  height: 700px;
  position: relative;
  margin-bottom: $gutter;

  img {
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    padding: 1em 1em 4em 1em;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

}

.upload-single-interactions {
  position: absolute;
  top: 15px;
  right: 15px;
}

.upload-info {
  @include span-columns(4);


  @include media($tablet) {
    @include span-columns(3);
  }

  @include media($desktop) {
    @include span-columns(4);
  }
}

.interaction-stat {
  font-weight: 700;
  font-size: 0.8em;
  padding-right: 0.5em;
}

.upload {
  margin: 0 auto;
  position: relative;
  height: 100%;
  margin-bottom: $gutter();

  @include media($tablet) {
    @include span-columns(2 of 8);
    @include omega(4n);
  }

  @include media($desktop) {
    @include omega-reset(4n);
    @include span-columns(2 of 12);
    @include omega(6n);
  }

  @include media($large) {
    @include omega-reset(4n);
    @include omega-reset(6n);
    @include span-columns(2 of 16);
    @include omega(8n);
  }

  a {
    display: block;
  }

  img {
    display: block;
    margin: 0 auto;
    max-height: 200px;
  }

  .warning {
    color: $clipped-red;
    font-size: $base-font-size * 0.9;
    font-weight: 700;
    text-align: center;
  }
}

.static_pages.home {
  .upload {
    @include media($tablet) {

    }
    @include media($desktop) {
      @include omega-reset(5n);
      @include omega(4n);
    }
  }
}

.upload-clipper {

  .media-figure {
    width: 35%;
  }
  .avatar {
    width: 100%;
    border: 2px solid $lightest-gray;
    margin-bottom: 0;
  }

  p {
    margin: 0;
  }

  .clipper-name {
    font-weight: 700;
  }
}

#upload-show-details-table {
  text-align: left;
  td {
    border-bottom: none;
    padding: 0;
  }
}

.detail-val {
  font-weight: 700;
}

#update-details-btn {
  &.hidden {
    display: none;
  }
}

.js-link {
  font-size: 0.8em;
  font-weight: 300;
  text-transform: none;
}

.uploads.show {
  .container {
    padding-top: 2em;
  }

  .card {
    margin-bottom: $gutter;
  }
}

.uploads-search-results-container {
  @include media($desktop) {
    @include outer-container(100%);
  }
}

#uploads-results-count {
  left: 0;
  width: 67%;

  @include media($desktop) {
    @include span-columns(12 of 12);
    position: static;
    float: none;
    width: 100%;
    margin-top: 47px;
    background-color: transparent;
    box-shadow: $card-shadow;
    padding-left: 4em;

    p {
      float: left;
    }

    &:after {
      content: "";
      clear: both;
      display: block;
    }
  }
}

#sort-dropdown {
  display: none;

  @include media($desktop) {
    float: right;
    display: block;
    width: 15%;
    margin-right: 3em;

    p {
      display: inline-block;
      width: 25%;
    }

    select {
      width: 70%;
      margin: 0.9em 0;
      display: inline-block;
    }
  }
}

#uploads-index-filter {
  right: 0;
  width: 33%;
  border-left: $base-border;

  @include media($desktop) {
    @include span-columns(2 of 12);
    border: none;
    border-left: none;
    position: static;
    background-color: transparent;
    border-right: $base-border;
    padding: 1em;
    margin-top: 1em;
  }

  @include media($large) {
    @include span-columns(2 of 16);
  }

  li {
    padding: 0.5em 1em;
    border-bottom: $base-border;

    @include media($desktop) {
      border-bottom: none;
    }
  }
}

.uploads-index {
  padding-top: $gutter;
  background-color: $lightest-gray;
  border-top: 1px solid $light-gray;

  .container {
    margin-top:0;
  }

  .upload {
    padding: 1em;
    border: $base-border;

    @include media($desktop) {
      @include omega-reset(6n);
      @include span-columns(3 of 12);
      @include omega(4n);
    }
  }
}


#uploads-search-results {
  margin-top: 136px;

  @include media($desktop) {
    @include span-columns(10 of 12);
    @include omega();
    margin-top: $gutter();
    padding: 0 3em;
  }

  @include media($large) {
    @include span-columns(14 of 16);
    @include omega();
    margin-top: $gutter();
    padding: 0 3em;
  }
}
