// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.gravatar {
	border-radius: 100%;
}

.user_profile {
	display: block;
	width: 100%;
	text-align: center;
	padding-bottom: 50px;
  background-color: $white;
  border-bottom: 1px solid $light-gray;
  margin-top: 144px;

  @include media($tablet) {
  	margin-top: 100px;
  }

	.gravatar {
		display: block;
		margin-left: auto;
		margin-right: auto;
		border: 5px solid $light-gray;
		margin-bottom: 25px;
	}


	.upload-btn {
		width: 350px;
		max-width: 90%;
		padding-top: 1.5em;
		padding-bottom: 1.5em;
		margin-top: 25px;
	}

}

.user-uploads-section {
	padding-top: $gutter;
  background-color: $lightest-gray;

  .container {
    margin-top:0;
  }
}

.user-uploads {
	margin: -20px 0 0 -20px;
}

