<div id="upload-delete-form" class="upload-interaction">
  <%= form_for upload, method: :delete, html: {class: "upload-interaction", data: { confirm: "You sure?" }} do |f| %>
    <%= hidden_field_tag :approved, true %>
    <%= f.button class: "delete icon", title: "delete this image" do %>
      <i class="fa fa-trash fa-lg"></i>
    <% end %>
  <% end %>
</div>
