<%= form_for @upload, html: {class: "dropzone"} do |f| %>
	<div class="fallback">
  	<%= f.label :image %>
    <%= f.file_field :image %>
  	<%= f.submit "Upload" %>
  </div>
<div id="clickable" class="btn">Select Files</div>

<div id="upload-previews"></div>

<div id="preview-template" class="dropzone-previews" style = "display: none;">
	<div class="dz-preview dz-file-preview">
		<i class="fa fa-times-circle" data-dz-remove></i>
	  <div class="dz-details">
	    <div class="dz-filename"><span data-dz-name></span></div>
	    <div class="dz-size" data-dz-size></div>
	    <img data-dz-thumbnail />
	  </div>
	  <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
	  <div class="dz-success-mark"><span>✔</span></div>
	  <div class="dz-error-mark"><span>✘</span></div>
	  <div class="dz-error-message"><span data-dz-errormessage></span></div>
	</div>
</div>

<% end %>