<div class="upload-tags card" data-id=<%= upload.id %>>
  <h2 class="title">Tags</h2>
  <div class="tags-container">
    <%= render upload.tags %>
  </div>
  <% if policy(upload).update? %>
    <%= render 'acts_as_taggable_on/tags/update_form' %>
  <% end %>
</div>
