<div class="upload">
	<%= link_to upload, class: "upload-thumb", id: "upload-#{upload.id}" do %>
		<%= present(upload) do |upload| %>
				<%= image_tag upload.src(:thumb), class: upload.classes %>
		<% end %>
	<% end %>	
</div>