<% unless @uploads.nil? %>
	<% if @tag_name %>
		<h6>Images tagged with: <%= @tag_name %></h6>
	<% end %>
  <%= will_paginate @uploads%>
  <div class="uploads-index flex-container">
		<%= render @uploads %>
	</div>
  <%= will_paginate @uploads%>
<% end %>