<div class="img-show"><%= image_tag @upload.image.url(:large), alt: @upload.image.url(:large) %></div>

<p>Views: <%= @upload.views %></p>
<p>Downloads: <%= @upload.downloads %></p>
<p>Likes: <%= @upload.likes %></p>

