<p id="notice"><%= notice %></p>

<h1>Listing Entourage Items</h1>

<ul>
  <% @entourage_items.each do |entourage_item| %>
      <%= render entourage_item %>
  <% end %>
</ul>

<%= link_to 'New Entourage item', new_entourage_item_path %>
