<p id="notice"><%= notice %></p>

<div class="grid-items">
  <% @entourage_items.each do |entourage_item| %>
      <%= render entourage_item %>
  <% end %>
</div>

<div>
<%= link_to 'New Entourage item', new_entourage_item_path %>
</div>
